body {
    background-color: rgba(192, 192, 192, 0.8);
    color: #092e2e;
}

nav {
    background-color: rgba(161, 32, 32, 0.8);
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.brand {
    font-family: Cedarville Cursive, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #cbcbe4;
}

.welcome-message {
    margin-right: 10px;
    color:#2ce6e6;
}

.social-links {
    text-align: center;
    margin: 5px 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
}

.social-links i {
    color: white;
    padding: 0 30px;
}

.page-title {
    border-radius: 2rem;
    padding: 10px 0px;
    font-family: Aref Ruqaa Ink, sans-serif;
    color: black;
}

.page-title a {
    text-decoration: underline;
    color: white;
}

.user-form {
    display: block;
    text-align: center;
    display: inline-block;
    color: black;
}

.user-form button {
    padding: 15px, 0px;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.recipe-buttons {
    text-align: center;
    padding: 5px;
    display: inline-block;
}


.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    color: #2ce6e6;
    background-color: #23BBBB;
    font-family: Aref Ruqaa Ink, sans-serif;
}

.image-flash-draft {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    color: #2ce6e6;
    background-color:red;
    font-family: Aref Ruqaa Ink, sans-serif;
}

.creator {
    color: white;
    margin: 4px;
    font-family: Cedarville Cursive, sans-serif;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover,
.page-link {
    color: #E84610;
}

.recipe-title {
    font-family: Aref Ruqaa Ink, sans-serif;
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}