{% extends "base.html" %}
<!-- Credit to Code Institute I think therefore I blog project for the html templates-->
{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center">
    <!-- Credit to W3Schools for the enctype code below -->
    <h1 class="page-title">Create Recipe<hr>
    <h2 class="page-title">Please share your recipe below</h2>
    <form class="user-form" method="post" id="create_form" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Create</button>
    </form>
</div>

{% endblock %}