{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Delete Recipe</h1>

{% if user.is_authenticated %}
    {% if user.id == recipe.creator.id %}
    <!-- This checks that the user is the original creator of the recipe -->
        <p>Are you sure you want to delete {{ recipe.dish_id }} from your cookbook?</p>

        <div class="container">
            <form method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <a href="{% url 'recipe_detail' recipe.slug %}" class="btn">Cancel</a>
        </div>
    {% else %}
    <p>You do not have permission to delete {{ recipe.dish_id }} from Nommy as you are not the creator.</p>
    <hr>
    <p>To view your created recipes, please click <a href="{% url 'my_recipes' %}">here</a>.</p>
    {% endif %}
    {% endif %}

{% endblock %}